<h1 class = "text-center">Navigation</h1><br>

<h2>Current project: <%=@project.name%></h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">interviewer</th>
      <th scope="col">Assign user</th>
    </tr>
  </thead>
  <tbody>
       <% @user_free.each do |user|%>
            <%if user.role == 'interviewer'%>
            <tr>
                <td><%=user.name%></td>
                <td><%=link_to "assign interviewer", assign_users_url(:user_name => user.name, :project_name => @project.name)%></td>
            </tr>
            <%end%>
       <%end%>
  </tbody>
</table>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">interviewer</th>
      <th scope="col">Assign user</th>
    </tr>
  </thead>
  <tbody>
       <% @user_assigned.each do |user|%>
            <tr>
                <td><%=user.name%></td>
                 <td><%=link_to "dis_assign interviewer", disassign_users_url(:user_email => user.email)%></td>
            </tr>
       <%end%>
  </tbody>
</table>
